<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/book/{id}/edit(id=${book.getId()})}" th:object="${book}" method="post">
    <p>Введите название: <input type="text" th:field="*{title}" /></p>
    <p>Введите автора: <input type="text" th:field="*{author}" /></p>
    <p>Введите год: <input type="text" th:field="*{year}" /></p>
    <p><input type="submit" value="Редактировать!" /> <input type="reset" value="Сбросить!" /></p>
</form>
</body>
</html>